.codex
__pycache__/
*.py[cod]

fetch-motivation/data/*
!fetch-motivation/data/.gitkeep
fetch-motivation/runtime-artifacts/*
!fetch-motivation/runtime-artifacts/.gitkeep

firecracker-build-scripts/*
!firecracker-build-scripts/.gitkeep
faasnap/
fetch-motivation/simple-test-data
rootfs-predict/snapshots
rootfs-predict/runs
rootfs-predict/data
restore-motivation/target
restore-motivation/snapshots
restore-motivation/results
restore-motivation/rootfs_file_control
restore-motivation/overlay.ext4
restore-motivation/firecracker

snapshots-build/*
!snapshots-build/.gitkeep
!snapshots-build/scripts
!snapshots-build/config
